.profile__edit-button {
  border: 1px solid #ffffff;
  box-sizing: border-box;
  background-image: url(../../../images/pen.svg);
  background-color: #000000;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  background-position: center;
  align-self: flex-end;
  margin-bottom: 9px;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 597px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    background-size: 7.5px;
  }
}
