.body {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  text-rendering: optimizeLegibility;
  background-color: #000000;
  display: flex;
  margin: 0 auto;
  max-width: 880px;
  flex-direction: column;
}
