.cards__list {
  box-sizing: border-box;
  display: grid;
  gap: 17px;
  grid-auto-rows: 361px;
  grid-template-columns: repeat(auto-fit, 282px);
  justify-content: center;
  list-style-type: none;
  margin: 0 auto;
  max-width: 880px;
  min-height: 20vh;
  padding: 51px 0 0;
}

@media screen and (max-width: 900px) {
  .cards__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 597px) {
  .cards__list {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 36px;
  }
}
