.popup__form {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0 35px;
  padding: 0;
}

@media screen and (max-width: 597px) {
  .popup__form {
    margin-right: 20px;
    margin-left: 20px;
  }
}
