.footer__text {
  margin: 0;
  padding-top: 67px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

@media screen and (max-width: 597px) {
  .footer__text {
    padding-top: 50px;
    font-size: 14px;
    line-height: 17px;
    padding-left: 20px;
  }
}
