.popup__close {
  background-image: url(../../../images/Close.svg);
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  background-position: center;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 597px) {
  .popup__close {
    background-size: 20px;
    top: -43px;
    right: -5px;
  }
}
