.popup__item {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  padding: 0 0 8px 0;
  vertical-align: middle;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

.popup__item:focus {
  outline: 0;
  outline-offset: 0;
}

@media screen and (max-width: 597px) {
  .popup_item {
    margin-bottom: 32px;
  }
}
