.popup__title {
  min-width: 330px;
  padding: 34px 64px 50px 36px;
  font-weight: 900;
  font-style: normal;
  font-size: 24px;
  line-height: 29.05px;
  margin: 0;
}

@media screen and (max-width: 597px) {
  .popup__title {
    min-width: 238px;
    padding: 25px 22px 75px;
    font-weight: 900;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    margin: 0 auto;
  }
}
